<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Family Members</title>
    <!-- Load CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'family_members.css' %}">
</head>
<body>
    <h1 class="judul">Family Members</h1>
    <div class="tree" id="FamilyTreeDiv">
        <ul id="family-tree">
            {% for member in family_members %}
                {% if not member.parent %}
                    {% include 'tree_family/family_member_node.html' with member=member %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <script src="{% static 'tree_family/script.js' %}"></script>
</body>
</html>
