{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Family Members</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Family Members</h1>
    <ul id="family-tree">
        {% for member in family_members %}
            {% if not member.parent %}
                <li class="parent-node">{{ member.name }}
                    {% if member.children.all %}
                        <ul class="collapsed">
                            {% for child in member.children.all %}
                                <li class="parent-node">{{ child.name }}
                                    {% if child.children.all %}
                                        <ul class="collapsed">
                                            {% for grandchild in child.children.all %}
                                                <li>{{ grandchild.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <script src="{% static 'tree_family/script.js' %}"></script>
</body>
</html>

